$color_1: #ebf2ff;
$color_2: #aac2fd;
$color_3: #233f91;
$color_4: #ffad33;
$color_5: #ff6819;

@font-face {
  font-family: 'Hammersmith One';
  src: url(./HammersmithOne-Regular.ttf) format('truetype');
}
