$alt_color_1: #ffc294;
$alt_color_2: #fff6a1;
$alt_color_3: #ff86bc;
$alt_color_4: #33e8ff;
$alt_color_5: #9b7aff;

.website-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;

  h1 {
    font-family: Hammersmith One;
    font-size: 28pt;
    color: $color_5;
    margin-bottom: 0;
  }

  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: $color_3;
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    color: $color_3;
    font-family: Arial, Helvetica, sans-serif;
  }

  .code-area {
    color: $color_1;
    font-family: monospace;
    background-color: #09121b;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-right: 2rem;
    margin: 1rem;
    position: relative;

    .fa-copy {
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
      transition: all 200ms;

      &:hover {
        transform: scale(1.5, 1.5);
      }
    }

    .color1 {
      color: $alt_color_1;
    }
    .color2 {
      color: $alt_color_2;
    }
    .color3 {
      color: $alt_color_3;
    }
    .color4 {
      color: $alt_color_4;
    }
    .color5 {
      color: $alt_color_5;
    }
  }

  .smalltext {
    color: $color_5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
  }

  .month-chart-container {
    width: 60vw;
  }

  .double-pie {
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid $color_3;
    border-bottom: 2px solid $color_3;
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .pie-chart-container {
      height: clamp(250px, 15vw, 300px);
      width: clamp(200px, 18vw, 350px);
    }
  }

  .timezonemap {
    width: 80vw;
    padding-top: 1rem;
    position: relative;

    img {
      width: 100%;
    }

    .points-container {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;

      svg {
        position: absolute;
        transition: all 200ms;

        &:hover {
          transform: scale(1.2, 1.2) translateY(-4px);
        }
      }
    }
  }
}
